@import url(./navbar.css);
@import url(./project.css);
@import url(./todo.css);
@import url(./form.css);

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    border: 3px solid black;
    display: flex;
    height: 80vh;
    width: 90%;
}

#projectContainer {
    border-right: 3px solid black;
    width: 25%;
}

#todoContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}