@import url(./navbar.css);
@import url(./project.css);
@import url(./todo.css);
@import url(./form.css);

* {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: none;
    box-shadow: 4px 4px 0 black;
}

button:hover {
    cursor: pointer;
}

#mainContainer {
    border: 2px solid black;
    display: flex;
    height: 85vh;
    width: 97%;
    box-shadow: 4px 4px 0 black;
}

#projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    width: 23%;
    overflow-y: auto;
}

#todoContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}