dialog {
    margin: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
}

label {
    padding-bottom: 5px;
}

#projectForm {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 30vw;
    margin-top: 30px;
    margin-left: 20px;
}

#projectTitle {
    height: 3vw;
    width: 28vw;
}

#projectFormBtnContainer {
    display: flex;
    gap: 10px;
}

#projectForm>#projectFormBtnContainer>button {
    height: 5vh;
    width: 7vw;
    margin-top: 20px;
    box-shadow: 4px 4px 0 black;
}

#todoForm {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    margin-top: 30px;
    margin-left: 25px;
}

#todoTitle {
    height: 3vw;
    width: 23vw;
    margin-bottom: 30px;
}

#todoDescription {
    height: 7vw;
    width: 23vw;
    margin-bottom: 30px;
}

#todoPriority {
    height: 3vw;
    width: 23.2vw;
    margin-bottom: 30px;
}

#todoDate {
    height: 3vw;
    width: 23vw;
    margin-bottom: 30px;
}


#todoFormBtnContainer {
    display: flex;
    gap: 10px;
}

#todoForm>#todoFormBtnContainer>button {
    height: 5vh;
    width: 7vw;
    margin-top: 20px;
}

#todoDetailForm {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    margin-top: 30px;
    margin-left: 25px;
}

#todoDetailTitle {
    height: 3vw;
    width: 23vw;
    margin-bottom: 30px;
}

#todoDetailDescription {
    height: 7vw;
    width: 23vw;
    margin-bottom: 30px;
}

#todoDetailFormBtnContainer>button {
    height: 5vh;
    width: 23vw;
    margin-top: 20px;
}