.project {
    height: 10vh;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.projectEditBtn {
    height: 4vh;
    width: 4vh;
}

.projectDeleteBtn {
    height: 4vh;
    width: 4vh;
}