.project {
    height: 10vh;
    width: 93%;
    margin-top: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
}

.projectTitle {
    font-size: 19px;
}

.projectEditBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 4vh;
    box-shadow: 2px 2px 0 black;
}

.projectDeleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 4vh;
    box-shadow: 2px 2px 0 black;
}