.project {
    height: 10vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.projectTitle {
    font-size: 19px;
}

.projectEditBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 4vh;
}

.projectDeleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 4vh;
}